---
---

.hidden {
  display: none;
}

html {
  background-color: black;
}

@font-face {
  font-family: 'Edmondsans';
  font-style: normal;
  font-weight: normal;
  src: url('{{ site.baseurl}}/fonts/Edmondsans-Regular.otf')
}

body {
  font-family: 'Edmondsans', sans-serif;
  color: white;
  margin: 0;
}

body.lights-out {
  color: #444;
}

a, a:visited {
  color: white;
}

.lights-out a, .lights-out a:visited {
  color: #444;
}

header, main {
  width: 100%;
  /*width: calc(100% - 40px);*/
}

.wrapper {
  padding: 15px 30px;
  margin: 0;
}

.fullscreen .wrapper {
  padding: 7px 30px;
}

/* =============================================
   Main
   ============================================= */

main {
  position: absolute;
  top: 75px;
}

.fullscreen main {
  top: 35px;
}

/*article.wrapper {
  padding: 10px 30px;
}*/

/* =============================================
   Header
   ============================================= */

header {
  height: 55px;
  top: 0;
  font-size: 20px;
  position: fixed;
  background-color: black;
  z-index: 1;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 2px;
}

.fullscreen header {
  font-size: 15px;
  height: 35px;
}

header:-moz-full-screen, header:-webkit-full-screen, header:fullscreen {
  font-size: 10px;
}

.lights-out header {
  border-bottom-color: #444;
}

header ul {
  width: 100%;
}

header h1 {
  display: inline;
  font-size: 30px;
}

.fullscreen header h1 {
  font-size: 20px;
}

header ol, header ul {
  display: inline;
  list-style-type: none;
  padding: 0;
}

header ol li, header ul li {
  display: inline;
}

#auth {
  float: right;
  padding-top: 6px;
}

.fullscreen #auth {
  padding-top: 7px;
}

.raquo {
  position: relative;
  top: 4px;
}

/* =============================================
   Albums
   ============================================= */

#album-years {
  list-style-type: none;
}
/*
#album-years > li {
  display: inline;
  }*/

#album-years h3 {
  font-size: 70px;
  margin: 20px 0;
  text-align: center;
}

#album-years h3 a {
  text-decoration: none;
}

.album {
  padding: 0;
  text-align: center;
}

.album a {
  text-decoration: none;
  text-align: left;
}

.album h4 {
  display: block;
  margin-top: 8px;
  margin-bottom: 6px;
  width: 382px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  margin: 18px;
  width: 382px;
}

.album img {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  display: block;
  margin: 0 auto;

}

.lights-out .album img {
  border-color: #444;
}

.album-count {
  color: #888;
  float: right;
}

.lights-out .album-count {
  color: #444;
}

/* =============================================
   Single photo
   ============================================= */

#photo {
  top: 55px;
  bottom: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.fullscreen #photo {
  top: 35px;
}

#photo-queue {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#photo-queue li {
  position: absolute;
  top: 10px;
  width: 100%;
  bottom: 10px;
}

#photo-queue img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#photo-queue .photo-current img {
  opacity: 1;
}
